.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #f8f8f8;
  border-radius: 8px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

button.delete {
  color: red;
  /* background: none;
  border: none;
  cursor: pointer; */
  text-decoration: none;
}
button.delete:hover{
  text-decoration: underline;
}

.add-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #0056b3;
}

.side {
  width: 220px;
  background-color: #e0f0f8;
  padding: 15px;

  
  
  
}

 .content {
  flex: 1;
  padding: 15px;
} 