/* App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
}

.login-btn {
  background-color: #00aaff;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.text-section {
  max-width: 40%;
}

.image-section img {
  width: 400px;
}